<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/Tela_de_Apresentacao.css'>
    <title>Apresentação</title>
</head>
<body>

    <h1>Web App de cadastramento de projetos de ODS</h1>

        <div class="container">
            <div class="square"> 
                <p>Este projeto surgiu junto com a disciplina de Engenharia de Software: Modelos, Métodos e Técnicas
                como forma de aprimorar conhecimentos no que diz respeito à engenharia de software. Assim, foram
                levantados estudo de viabilidade, especificação de requisitos e também validação.
                </p>
            </div>
                
            <div class="square">
                <p>O resultado final consiste em um site que possibilita o cadastro de projetos vinculados ao projeto
                    13.1: Fortalecer a resiliência e a capacidade de adaptação a riscos climáticos e desastres naturais
                    em todos os países do ODS 13: Ação contra a mudança global do clima.
                </p>
            </div>

            <div class="square">
                <p>O projeto foi desenvolvido em grupo pelos desenvolvedores: Fabrício Silva Brito, Rogério Vieira da Silva,
                    Mayara Neves Martins e Wesley de Jesus Marciano.
                </p>
            </div>
        </div>
                
  
</body>
</html>