<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Tela_de_login.css') }}">
</head>
<body>
    <main>
        <h1>WeatherWatch</h1>
        <div class="social-media">
            <a href="#">
                <img src="../static/google.png" alt="Google">
            </a>
            <a href="#">
                <img src="../static/instagram.png" alt="instagram">
            </a>
            <a href="#">
                <img src="../static/linkedin.png" alt="Linkedin">
            </a>
        </div>

        <div class="alternative">
            <span>OR</span>
        </div>

        <form action="{{ url_for('autenticar') }}" method='POST'>
            <input type="hidden" name="proxima" value="{{ proxima }}">
            <label for="name">
                <span>Name</span>
                <input type="text" id="name" name="name">
            </label>

            <label for="password">
                <span>Password</span>
                <input type="password" id="password" name="password">
            </label>

            <input type="submit" value="Sign Up" id="button">
        </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %} 
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    </main>
    <section class="images">
        <div class="circle"></div>
    </section>
</body>
</html>