<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="../static/Tela_de_Cadastro.css">
</head>
<body>
        <img class="logo_Da_São_Judas" src="../static/usjt_logo-removebg-preview.png" alt="Logo da São Judas">
    <footer class="rodapé" >Desenvolvido por alunos da Universidade São Judas para UC Sistemas de controles e inteligencia artificial</footer>
    </main>
</body>
</html>