<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Tela_de_login.css') }}">
</head>
<body>
    <header class="cabesalho">
        <nav class="cabesalho-menu">
            <a class="cabesalho-menu-link" href="https://www.youtube.com/watch?v=P_MfrHJc6_A&list=RD9Vo3uy3bTGc&index=14&ab_channel=OnrazeRecords">Sign Up</a>
            <a class="cabesalho-menu-link" href="https://www.google.com.br/">Suporte</a>
        </nav>
    </header>
    <main class="apresentacao">
        
        <h1 class="titulo">WeatherWatch</h1>
        <div class="social-media">
            <a href="#">
                
            <img src="../static/google.png" alt="Google">
            </a>

            <a href="#">
            <img src="../static/instagram.png" alt="instagram">
            </a>

            <a href="#">
            <img src="../static/linkedin.png" alt="Linkedin">
            </a>

        </div>

        <div class="alternative">
            <span>OR</span>
        </div>

        <form action="{{ url_for('autenticar') }}" method='POST'>
            <input type="hidden" name="proxima" value="{{ proxima }}">
                <label for="name">
                        <span>Name</span>
                        <input type="text" id="name" name="name">
                        </label>

                        <label for="password">
                            <span>Password</span>
                            <input type="password" id="password" name="password">
                        </label>
                

            <input type="submit" value="Sign Up" id="button">
        </form>
        
        <div class="message-login">
            {% with messages = get_flashed_messages() %}
                {% if messages %} 
                <ul id="messages" class="list-unstyled">
                        {% for message in messages %}
                                <li class="alert alert-success">{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
    </main>
    <section class="images">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </section>

    <footer class="rodapé">
        <p>Desenvolvido por alunos da Universidade São Judas para UC Sistemas de controles e inteligencia artificial </p>
    </footer>
</body>
</html>