<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="../static/Tela_de_Cadastro.css">
</head>
<body>
    <main>
        <h1>WeatherWatch</h1>
        <div class="social-media">
            <a href="#">
                <img src="../static/google.png" alt="Google">
            </a>
            <a href="#">
                <img src="../static/instagram.png" alt="Facebook">
            </a>
            <a href="#">
                <img src="../static/linkedin.png" alt="Linkedin">
            </a>
        </div>

        <div class="alternative">
            <span>OR</span>
        </div>

        <form action="{{ url_for('cadastroProjeto') }}" method="post">

            <label for="project-name">
                <span>Nome de Projeto</span>
                <input type="text" id="name" name="name" value="{{ projeto.nome }}">
            </label>

            <label for="project-description">
                <span>Descrição do Projeto</span>
                <input class="Descrição" type="text" id="descricao" name="descricao" value="{{ projeto.desc }}">
            </label>

            <label for="user-id">
                <span>Nome do Usuário Responsável</span>
                <input type="text" id="name" name="name" value="{{ projeto.user }}">
            </label>

            <label for="phone">
                <span>Telefone</span>
                <input type="tel" id="telefone" name="telefone" value="{{ projeto.telefone }}">
            </label>

            <label for="date">
                <span>Data de Cadastro</span>
                <input type="date" id="data_cadastro" name="data_cadastro" value="{{ projeto.data_cadastro }}">
            </label>

            <label for="status">
                <span>Status do Projeto</span>
                <input type="text" id="status_projeto" name="status_projeto" value="{{ projeto.status_projeto }}">
            </label>

            <label for="tag">
                <select name="tag" required="required" value="{{ projeto.tag }}">
                    <option value="">Escolha uma tag para o projeto</option>
                    <option value="deslizamento">Deslizamento</option>
                    <option value="inundacao">Inundação</option>
                    <option value="vendaval">Vendaval</option>
                    <option value="granizo">Granizo</option>
                    <option value="sustentabilidade">Sustentabilidade</option>
                </select>

                <!-- <button type="submit">Enviar</button>
                <span>Tags do Projeto</span>
                <input type="text" id="tag" name="tag"> -->
            </label>

            <input type="submit" value="Submit" id="button">
    
        </form>

        <img class="logo_Da_São_Judas" src="../static/usjt_logo-removebg-preview.png" alt="Logo da São Judas">
    <footer class="rodapé" >Desenvolvido por alunos da Universidade São Judas para UC Sistemas de controles e inteligencia artificial</footer>
    </main>
</body>
</html>